{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">درباره ما </h1>
                <p class="lead fw-normal text-white-50 mb-0"> داستان ما را بشنوید</p>
            </div>
        </div>
 </header>

<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <p align="justify">
                    به سیوا خوش آمدید، جایی که زیبایی از درون و بیرون با هم تجلی پیدا می‌کند.
سیوا با عشق به مراقبت از پوست و الهام از فلسفه زیبایی کره‌ای شکل گرفت، جایی که توجه به جزئیات و احترام به طبیعت، راز داشتن پوستی سالم و شاداب است.

ما در سیوا باور داریم که هر فرد لایق پوستی درخشان و سالم است. محصولات ما با استفاده از بهترین مواد طبیعی و فرمول‌های نوآورانه کره‌ای طراحی شده‌اند تا مراقبت از پوست را به تجربه‌ای دلنشین و مؤثر تبدیل کنند. از مرطوب‌کننده‌های سبک و مغذی گرفته تا سرم‌ها و ماسک‌های پوستی تخصصی، هر محصول سیوا نتیجه‌ی ترکیبی از علم، طبیعت و هنر مراقبت از پوست است.

با سیوا، نه تنها پوستی سالم خواهید داشت، بلکه حس اعتماد به نفس و آرامش هم در زندگی روزمره‌تان جریان خواهد یافت. زیبایی شما، الهام‌بخش ماست.
                </p>
            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock %}