{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">

               <h3>جزییات سفارش</h3>
              

            <div class="card">
                <div class="card-header">
                    سفارش {{ order.id }} - {{ order.amount_paid|intcomma }}  تومان
                </div>
                <div class="card-body">
                    به نام: {{ order.full_name }} <br>

                    ایمیل:  {{ order.email }} <br>
                    آدرس:  {{ order.shipping_address }} <br>
                    تاریخ ثبت:  {{ order.date_ordered }} <br>
                    آخرین ویرایش:  {{ order.last_update }} <br>
                    وضعیت:  {{ order.get_status_display }} <br>
                    <hr>
                    کالاها: <br>
                    {% for item in items %}
                    {{ item.product }} | تعداد {{ item.quantity }} عدد | {{ item.price|intcomma }} تومان  <br>

                    {% endfor %}

             
                </div>
                </div>
                <br>
                 <a href="{% url 'orders' %}" class="btn btn-primary">بازگشت به سفارشات</a>
            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock %}