{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"> اطلاعات کاربری </h1>
                <p class="lead fw-normal text-white-50 mb-0">  برای سفارش دادن،اطلاعات خود را تکمیل کنید</p>
            </div>
        </div>
 </header>

<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <strong>اطلاعات کاربری</strong>
                 <br><br>
                <form method="POST" action="{% url 'update_info' %}">
                    {% csrf_token %}
                         {{ form.as_p }}
                         <br><br>
                         <strong>اطلاعات ارسال</strong>
                         <br><br>   
                         {{ shipping_form.as_p }}
                 


                    <button type="submit" class="btn btn-secondary">ویرایش</button>
                    </form>
                    <br>
            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock %}